body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#starfield {
  width: 100vh;
  height: 100vh;
  background: radial-gradient(ellipse at center, #242938, #000 0%);
  overflow: hidden;
  margin-top: -104px;
}

/*                             HEADER                             */

.header {
  position: relative;
  width: 1174px;
  margin: 40px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1174px;
  align-items: center;
}

.planet__img {
  width: 500px;
  height: 500px;
  margin-left: 700px;
  margin-top: -300px;
  position: absolute;
}

.logo__header {}

.header__items {
  width: 430px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header__item {
  color: white;
  font-size: 16px;
  font-family: "helveticaNeue-Thin";
  cursor: pointer;
  letter-spacing: 1px;
  transition: .3s;
}

.header__item:hover {
  letter-spacing: 3px;
}

/*                             MAIN                             */

.main {
  background: #fff;
  position: relative;
  width: 1311px;
  height: 682px;
  margin-top: -750px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.main__container {
  height: 506px;
  width: 1136px;
  padding-top: 94px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main__description {
  width: 568px;
}

.main__img {
  width: 518px;
  height: 506px;
}

.main__title {
  font-size: 36px;
  font-family: "helveticaNeue";
}

.main__subTitle {
  font-size: 24px;
  font-family: "helveticaNeue-Light";
  padding-left: 240px;
}

.main__subTitle__modif {
  font-family: "helveticaNeue-Thin";
}

.main__descriptionText {
  font-size: 24px;
  font-family: "helveticaNeue-Light";
  margin-top: 60px;
}

.position {
  float: right;
}

.main__descriptionRating {
  font-size: 20px;
  color: grey;
  font-family: "helveticaNeue-Light";
  margin-top: 60px;
}

.main__descriptionRating__modif {
  font-size: 11px;
  color: #000;
}

.main__descriptionPrice {
  font-size: 24px;
  font-family: "helveticaNeue";
  color: #9B1616;
}

.main__descriptionButtonContainer {}

.main__descriptionButton {
  margin-top: 50px;
  font-size: 20px;
  font-family: "helveticaNeue-Bold";
  color: #fff;
  cursor: pointer;
  transition: .1s;
  background-color: #000;
  border-radius: 2px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .2s;
  border: solid 1px;
}

.main__descriptionButton:hover {
  color: #000;
  background-color: #fff;
}